.profilePic
    width: 50px;
    height: 50px;
    border-radius: 50%;
.text-truncate
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
.mars
    background: #000;
    color: #fff;
    padding: 16px 5px;
    border-radius: 50%;
    &.light
        background: #fff;
        color: #000;
        border: 1px solid #000;
.loginbox
    border: 1px solid #ccc;
    box-shadow: 4px 5px 5px #bbb;
    .help-block
        color: #e20d0d
    input
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #000;
        font-size: 19px;
        padding-left: 0;
    input:focus
        outline: none !important;;
        outline-width: 0 !important;;
    input::placeholder
        color: #b4b3b5;
        font-size: 20px;
        font-weight: normal;
    .submit-btn
        display: flow-root;
    .btn-light
        font-size: 14px;
        color: #b4b3b5;
        background: #e0e0e0;
.unit
    font-size: 14px;
    img
        padding: 10px;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        width: 100%